
__pycache__/
# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
.pytest_cache/

# Flask stuff:
instance/
.webassets-cache

# Environments
myenv/
venv/
# mypy
.mypy_cache/
.vscode
